src/main/mule/s-api-db-database-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd">
	<flow name="Insert_Into_Database" doc:id="5c4d7fe4-22c8-4117-a552-f49e26848194" >
		<file:listener doc:name="Fetch File" doc:id="0c3df129-e56c-4770-a070-b24e5416004c" directory="C:\\Users\\vigneshbr\\Desktop\\Usecase\\InputData" autoDelete="true" outputMimeType="application/csv">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<ee:transform doc:name="Mapping" doc:id="30185a60-ba5b-460a-bbc0-edb29e13d759" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	Region: payload01.Region,
	Country: payload01.Country,
	ItemType: payload01.ItemType,
	SalesChannel: payload01.SalesChannel,
	OrderPriority: payload01.OrderPriority,
	OrderDate: payload01.OrderDate,
	SalesID: payload01.SalesID
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:bulk-insert doc:name="Bulk insert" doc:id="b5c43564-ba3d-4729-b21c-014d7497b07b" config-ref="Database_Config">
			<db:sql><![CDATA[INSERT INTO usecase.actual (Region,Country,ItemType,SalesChannel,OrderPriority,OrderDate,SalesID) VAlUES (:Region,:Country,:ItemType,:SalesChannel,:OrderPriority,:OrderDate,:SalesID);]]></db:sql>
		</db:bulk-insert>
		<logger level="INFO" doc:name='"Done"' doc:id="451602f4-832a-4772-a981-66d7c3dc1b8a" message='#["Done"]'/>
	</flow>
	<flow name="system-call-database" doc:id="11da5265-a8a6-46cf-9e31-141d3357fab5" >
		<db:select doc:name="Fetch InputData" doc:id="c3e19c0e-e87c-45fa-90e3-7e82bdb6530c" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from usecase.actual;]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="e4ab60f8-11b7-4cfa-a653-52f5b104d6a8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ed27cd31-f328-40ac-8b63-01e06975b857" message="#[payload]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b4616802-8869-46e7-be0d-a48c5b287e0c" type="ANY">
				<set-variable value="#[400]" doc:name="httpStatus" doc:id="677bf309-6e45-4395-b4d2-480bc5409350" variableName="httpStatus"/>
				<set-variable value="#[error.detailedDescription]" doc:name="httpDescription" doc:id="40cc5e23-f948-4c04-9fc7-fade32847fbb" variableName="httpDescription"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
